# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "dff09f5d1a66c25736ba40c9b8a4b9a5"
name = "pins"
application_url = "https://shopify-pin-publish.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_files,write_files"

[auth]
redirect_urls = [
  "https://shopify-pin-publish.onrender.com/auth/callback",
  "https://shopify-pin-publish.onrender.com/auth/shopify/callback",
  "https://shopify-pin-publish.onrender.com/api/auth/callback"
]
